@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

.card {
    display: block;
    width: 400px;
    height: 230px;
    cursor: pointer;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 230px;
    padding: 30px;
    box-shadow: 1px 1px #aaa3a3;
    background-color: #880E4F;
    border-radius: 8px;
}

.card-two-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header {
    height: 60px;
    overflow: hidden;
}

.bank-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}

.bank-name img {
    height: 25px;
    margin-right: 5px;
}

.card-logo {
    height: 60px;
}

.card-numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
}

.card-info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card:hover .lock-overlay {
    opacity: 1;
    transition: 0.3s linear;
}

.lock-overlay {
    opacity: 0;
    transition: 0.3s linear;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 230px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.3);
}

.lock-overlay .ring {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
}

.lock-overlay .outer-most.ring {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}

.lock-overlay .outer.ring {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}

.lock-overlay .inner.ring {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}

.lock-overlay button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid rgba(255,255,255,0);
    outline:none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s linear;
}

.lock-overlay button img{
    height: 30px;
    width: 30px;
    transition: 0.2s linear;
}

.lock-overlay button:hover{
    background-color: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.4);
    transition: 0.2s linear;
}

.password-input {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.pin-overlay {
    transition: 0.3s linear;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 230px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.6);
}

.password-input input {
  font-size: 20px;
  height: 60px;
  width: 60%;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.3);
  text-align: center;
  letter-spacing: 2px;
  line-height: 40px;
}

.password-input .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.password-input img {
    height: 10px;
}

.decrypting-loader {
  transform: scale(18,18);
  position: absolute;
}