@import url('https://fonts.googleapis.com/css?family=Material+Icons+Round');
*:focus {
    outline: none;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}